<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>987636737304-obmbkrfi4lrcejmnqese88cenui55e56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987636737304-obmbkrfi4lrcejmnqese88cenui55e56</string>
	<key>API_KEY</key>
	<string>AIzaSyCrouUiL-FgohOCejC_ymxOvGI8snwLcbg</string>
	<key>GCM_SENDER_ID</key>
	<string>987636737304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hans.MyTimeLine</string>
	<key>PROJECT_ID</key>
	<string>fireup-6bba4</string>
	<key>STORAGE_BUCKET</key>
	<string>fireup-6bba4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987636737304:ios:44a41e0ea5c6f756</string>
	<key>DATABASE_URL</key>
	<string>https://fireup-6bba4.firebaseio.com</string>
</dict>
</plist>